// встроенный математический модуль scss
@use "sass:math" as math;
// ================================mixins
// ===========================подключение шрифтов

@mixin fonts($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// создание треугольника
// размеры и форма треугольника зависят от толщины бордера с каждой стороны
@mixin triangle($size, $side, $clr) {
	border-width: $size;
	border-style: solid;
	border-color: transparent;
	border-#{$side}-color: $clr;
}

// ширина элемента в % от родителя
@mixin percentage-width($el-width, $parent-width) {
	width: math.div($el-width, $parent-width) * 100%;
}

// любое свойство + значение элемента в % от родителя
@mixin percentage-value($property, $el-width, $parent-width) {
	#{$property}: math.div($el-width, $parent-width) * 100%;
}

// максимальная ширина элемента в % от родителя
@mixin percentage-max-width($el-width, $parent-width) {
	max-width: math.div($el-width, $parent-width) * 100%;
}

// flex-basis элемента в % от родителя
@mixin percentage-flex($el-width, $parent-width) {
	flex-basis: math.div($el-width, $parent-width) * 100%;
}

// ширина элемента в % от родителя по кол-ву колонок, которые он занимает в макете
@mixin columns-width($columns) {
	width: math.div(100%, $columns);
}

// миксины для флексов
@mixin row-margins() {
	margin-left: -$gap;
	margin-right: -$gap;
}

@mixin col-paddings() {
	padding-left: $gap;
	padding-right: $gap;
}

@mixin col-margins() {
	margin-left: $gap;
	margin-right: $gap;
}
