// сетка для отладки
.grid-debug {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;

	.grid-debug__container {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0px $gap;
		display: grid;
		grid-template-columns: [start-container]repeat(12, 1fr) [end-container];
		grid-column-gap: $gap;

		@media (min-width:$mi1) {
            max-width: $maxContainerWidth;
            
        }
    
        @media (min-width:$mi2) {
            max-width: 1140px;
            
        }
    
        @media (min-width:$mi3) {
            max-width: 960px;
        }
    
        @media (min-width:$mi4) {
            max-width: 720px;
            
        }
    
        @media (min-width: $mi5) {
            max-width: 540px;
    
        }

	}
}